<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
        <a th:href="@{/home}" class="btn btn-primary btn-sm me-3 nav-buttons">Home</a>
        <a th:href="@{/professors/list}" class="btn btn-primary btn-sm me-3 nav-buttons">Professors</a>
        <a th:href="@{/subjects/list}" class="btn btn-primary btn-sm me-3 nav-buttons">Subjects</a>
        <a th:href="@{/students/list}" class="btn btn-primary btn-sm me-3 nav-buttons">Students</a>
        <a th:href="@{/cities/list}" class="btn btn-primary btn-sm me-3 nav-buttons">Cities</a>
        <div class="dropdown">
            <a class="btn btn-primary btn-sm me-3 nav-buttons">Exams</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/exam_period/list}" >Exam periods</a></li>
                <li><a th:href="@{/exam_period/activeRegList}">Exam Registration</a></li>
            </ul>
        </div>
        <a th:href="@{/log_out}" class="btn btn-primary btn-sm mb-3 logout-button" id="logoutButton">
            Log Out
        </a>
    </nav>
</div>


