<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <title>Studentska organizacija</title>
    </head>

    <body>

    <div class="container">

        <hr>
        <h1>Dobrodosli</h1>
        <hr>

<!--        <form th:action="@{/logout}" method="post">-->
<!--            <input type="submit" value="Sign Out"/>-->
<!--        </form>-->
        <a th:href="@{/students/list}" class="btn btn-primary btn-sm mb-3">
            Students
        </a>

        <a th:href="@{/log_in}" class="btn btn-primary btn-sm mb-3" id="logout-button">
            Log Out
        </a>

    </div>

    </body>
</html>

<style>

    #logout-button {
        background-color: gray;
        color: white; /* Set text color to white for better visibility on a red background */
        position: fixed;
        top: 50px;
        right: 0; /* Optional: You can change this to 'right: 0;' for a button on the left side */
        margin: 50px; /* Optional: Add margin to adjust the button's spacing from the edges */
    }

</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Find the logout button by its ID
        var logoutButton = document.getElementById("logout-button");

        // Add a click event listener to the button
        logoutButton.addEventListener("click", function () {
            // Display the message
            alert("You have been logged out!");
        });
    });
</script>