<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Dodaj Studenta</title>
</head>

<body>

<div class="container">

    <h3>Dodavanje studenata</h3>
    <hr>

    <p class="h4 mb-4">Sacuvaj studenta</p>

    <form action="#" th:action="@{/students/saveStudent}"
          th:object="${student}" method="post">

        <!-- Add hidden form field to handle the update -->
        <label>Username:</label><input type="text" th:field="*{username}" class="form-control mb-4 w-25">
        <label>Password:</label><input type="text" th:field="*{password}" class="form-control mb-4 w-25">
        <label>Index number:</label><input type="text" th:field="*{indexNumber}" class="form-control mb-4 w-25">
        <label>Index year:</label><input type="text" th:field="*{indexYear}" class="form-control mb-4 w-25">
        <label>First name:</label><input type="text" th:field="*{firstName}" class="form-control mb-4 w-25">
        <label>Last name:</label><input type="text" th:field="*{lastName}" class="form-control mb-4 w-25">
        <label>Email:</label><input type="text" th:field="*{EMail}" class="form-control mb-4 w-25">
        <label>Address:</label><input type="text" th:field="*{address}" class="form-control mb-4 w-25">
<!--        <label>Postal Code:</label><input type="text" th:field="*{postalCode}" class="form-control mb-4 w-25">-->
        <label>Current year of study:</label><input type="text" th:field="*{currentYearOfStudy}"
                                                    class="form-control mb-4 w-25">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/students/list}">Back to Students List</a>

</div>

</body>

</html>
