body {
    background-color: #3b6061;
}

.logout-button {
    background-color: gray;
    border-color: gray;
    color: darkred;
    position: fixed;
    top: 10px;
    right: 20px; /* Optional: You can change this to 'right: 0;' for a button on the left side */
}

.nav-buttons {
    background-color: gray;
    border-color: gray;
    color: #ddc173;
}

.l-txt {
    color: #ddc173;
}

.add-city-button {
    color: #0af6ee;
}

.update-button {
    background-color: #ddc173;
    border-color: #ddc173;
    color: black;
}

.back-button {
    background-color: gray;
    border-color: gray;
    color: white;
}
