<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{base-templates/base-head.html}"></head>
<body>
<div th:insert="~{base-templates/nav-bar.html}"></div>
<div class="container">
    <h3>Exam registration</h3>
    <hr>
    <h3 th:object="${examPeriod}" style="text-align: center; margin-top: 20px;">
        <span th:text="${examPeriod.name} + ' exam period'"/></h3>
    <hr>
    <form action="#" th:action="@{/examRegistration/save}"
          th:object="${examRegistration}" method="post">
        <input type="hidden"
               th:field="*{id}">
        <label class="l-txt" for="student">Student:</label>
        <select id="student"
                th:field="*{student}"
                class="form-control mb-4 w-25">
            <option value="">--select student--</option>
            <option th:each="student : ${studentsList}"
                    th:value="${student.username}"
                    th:text="${student.firstName + ' ' + student.lastName}"></option>
        </select>
        <label class="l-txt" for="exam">Exam:</label>
        <select id="exam"
                th:field="*{exam}"
                class="form-control mb-4 w-25">
            <option value="">--select subject--</option>
            <option th:each="exam : ${examList}"
                    th:value="${exam.examId}"
                    th:text="${exam.subject.name}"></option>
        </select>
        <label class="l-txt">Grade:</label>
        <input type="text"
               th:field="*{grade}"
               class="form-control mb-4 w-25">
        <button type="submit" class="btn btn-info col-2 update-button">Save</button>
    </form>
    <hr>
</div>
</body>
</html>